.wrapper {
  max-width: var(--max-width);
  width: 100%;
  min-height: 65vh;
  margin: auto;

  padding-top: 8rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media screen and (max-width: 1440px) {
    padding: 8rem 20px;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;



  .title {
    font-weight: 600;
    font-size: 1.75em;
    line-height: 2.25rem;
    color: var(--dark-main);
  }
}

.info {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark-main);

  display: flex;
  align-items: center;
  gap: 2rem;
}

.ordersHistory {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.historyContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .historyHead {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--dark-main);
  }

  .historyItems {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .historyItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;

      @media screen and (max-width: 560px) {
        flex-direction: column;
        align-items: center;
      }

      border-bottom: 1px solid var(--light-add);
      padding-bottom: 1.5rem;

      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;

      .historyItemInfo {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        @media screen and (max-width: 560px) {
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 100%;
        }
      }

      .historyItemTitle {
        display: flex;
        align-items: center;
        gap: 1rem;

        span {
          text-wrap: nowrap;
        }

        @media screen and (max-width: 560px) {
          flex-direction: column;
          align-items: center;
          span {
            font-size: 1.25rem;
          }
        }

        & > img {
          max-width: 110px;
          max-height: 110px;
          height: auto;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }
}
