.wrapper {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  padding: 8rem 0;

  @media screen and (max-width: 1440px) {
    padding: 8rem 20px 0;
  }
}

.productConatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  @media screen and (max-width: 920px) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.productImage {
  width: 35%;
  height: auto;

  @media screen and (max-width: 780px) {
    width: 60%;
  }

  & > img {
    width: 100%;
    height: auto;

    object-fit: contain;
    object-position: center;
  }
}

.productInfo {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media screen and (max-width: 920px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .productName {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--dark-main);
  }

  .productPrice {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;

    color: var(--dark-main);
  }

  .btnsContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    .quantityBtn {
      display: flex;
      align-items: center;
      gap: 2rem;

      padding: 1rem 1.5rem;

      border: 1px solid var(--dark-add);
      border-radius: 10rem;
      color: var(--dark-add);

      font-weight: 500;
      font-size: 1rem;

      & > button {
        cursor: pointer;
        transition: opacity 0.3s;
        border: none;
        background: transparent;

        &:hover {
          opacity: 0.8;
        }

        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.25rem;
        color: var(--dark-add);
      }
    }
    .clearBtn {
      min-width: 3rem;
      min-height: 3rem;

      border: 1px solid var(--dark-add);
      border-radius: 10rem;

      cursor: pointer;
      transition: opacity 0.3s;
      background: transparent;

      &:hover {
        opacity: 0.8;
      }

      > * {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .addBtn {
    max-width: fit-content;
  }

  .productDesc {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--dark-add);
  }
}

.modal {
  position: fixed;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 8rem;
  border-radius: 1rem;
  background: var(--primary-color);
  color: var(--light-main);

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;

  cursor: pointer;
}
