.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100vh;

  @media screen and (max-width: 1440px) {
    padding: 8rem 20px;
  }
}

.formConteainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  max-width: 420px;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  text-align: center;

  color: var(--dark-main);
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--dark-add);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  & > a {
    color: var(--dark-main);
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }
}
.error {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--error-color);
}
