.button {
  // width: 100%;
  width: fit-content;
  padding: 0.75rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  border-radius: 10rem;
  cursor: pointer;
  transition: opacity 0.3s;

  border: none;
  background: transparent;

  
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;

  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;

  &:hover {
    opacity: 0.3;
  }
}

.strokeLight {
  border: 1px solid var(--light-main);
  color: var(--light-main);
}

.strokeDark {
  border: 1px solid var(--dark-main);
  color: var(--dark-main);
}

.grey {
  border-radius: 0.375rem;
  background: var(--light-add);
  color: var(--dark-add);
  gap: 0.375rem;
}

.main {
  background: var(--primary-color);
  color: var(--light-main);
  width: 100%;
}
