# Обработка строк под разные ОС
* text=auto

# Не учитывать vendor-файлы в языковой статистике GitHub
/frontend/node_modules/* linguist-vendored
/backend/vendor/* linguist-vendored

# Отдельные типы файлов как "vendored"
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.json linguist-vendored
*.min.js linguist-vendored
*.bundle.js linguist-vendored

# Исключить из GitHub Archive Export
CHANGELOG.md export-ignore
README.md export-ignore
LICENSE export-ignore
.gitignore export-ignore